<!-- app.component.html -->
<div class="page-container">
  <div class="content">
    <!-- Spanish Column -->
    <div class="column spanish-column">
      <div class="word">Hola</div>
    </div>

    <!-- English Column -->
    <div class="column english-column">
      <div #statusH1 class="word">...</div>
    </div>
  </div>

  <!-- Footer Section -->
  <div class="footer">
    <div class="buttons">
      <button (click)="isRecording ? stopRecording() : startRecording()">
        {{ isRecording ? "End" : "Start" }}
      </button>
      <button (click)="transcribe()">Correct?</button>
    </div>
  </div>
</div>

<div #statusDiv></div>
<span>Points:</span>
<p #pointsP>0</p>
<!-- <ol #listContainer>
  <li>JELLO WORLD</li>
</ol> -->

<!-- <nav>
  <a routerLink="/">Home</a> |
  <a routerLink="/game">Game</a>
</nav>
<router-outlet></router-outlet> -->
